/* ============== Do not delete this ========== */
.section-selector-1 { background-color: var(--gray-200) }
.col-3 h3 { margin-bottom: 16px }


/* =============== Add your custom CSS below =========== */

header.theme-dark { background-color: var(--slate-800) }
header.theme-dark .badge { background-color: var(--slate-800) }
header.theme-dark .badge { color: var(--sky-050) }
header.theme-dark h1 { color: var(--red-400) }
header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover,
header.theme-dark .container-btn a.btn:nth-child(1):active { color: var(--red-300) }

header.theme-dark .container-btn a.btn:nth-child(2):focus,
header.theme-dark .container-btn a.btn:nth-child(2):hover,
header.theme-dark .container-btn a.btn:nth-child(2):active { color: var(--red-300) }

